.App {
  display: grid;
  grid-template-columns: 1fr 33vw 1fr; /* 1fr for empty space, 33vw for content */
  height: 100vh; /* Full viewport height */
  background-color: (240, 20%, 35%);
}

.App-header {
  grid-column: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(240, 22%, 83%);
}

.App-header h1 {
  margin: 0;
  font-size: 3rem;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
}
