$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

.App {
  display: grid;
  grid-template-columns: 1fr 33vw 1fr; /* 1fr for empty space, 33vw for content */
  height: 100vh; /* Full viewport height */
  background-color: hsl(240, 20%, 35%);
}

.App-header {
  grid-column: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(240, 22%, 83%);
}

@media (max-width: 844px) {
  .App-header {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 3px 9px 10px #0066ff;
    height: 10vh;
  }
  @media (max-height: 400px) {
    .App-header {
      height: 16vh;
    }
  }
}



.App-header h1 {
  margin: 0;
  font-size: 3rem;
  margin-top: 2vh;
  font-family: Arial, Helvetica, sans-serif;
}
